# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# VSCode
.vscode/
*.code-workspace

# Environment variables
.env
*.env

# Migrations
migrations/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Virtual environments
.venv/
env/
ENV/
env.bak/
venv.bak/